<style>
  	.logo {
      	width: 42px;
      	height: 42px;
  	}
  	.empty {
  		content: url('plugins/virtual/core/template/images/0-drop.svg');
	}
  	.quarter {
  		content: url('plugins/virtual/core/template/images/1-drop.svg');
	}
  	.half {
  		content: url('plugins/virtual/core/template/images/2-drop.svg');
	}
  	.threeQuarters {
  		content: url('plugins/virtual/core/template/images/3-drop.svg');
	}
  	.full {
  		content: url('plugins/virtual/core/template/images/4-drop.svg');
	}
</style>
<div style="min-width:115px;min-height:100px;position: relative; top : -7px;padding:0px !important;" class="cmd tooltips cmd-widget cursor container-fluid history" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#">
		<div class="cmdName" style="margin-top:7px;font-size : 12px;">#name#</div>
  		<div class="iconCmd#uid#" style="margin-bottom: 0px;margin-top: 0px;">
          	<img class="logo">
  		</div>
  		<div>
        <span style="font-size: 20px;font-weight: bold;color: #A1C849">#state# #unite#</span>
  		</div>
	<script>
		if (parseInt('#state#') < 5) {
          	$(".iconCmd#uid# img.logo").attr("class", "logo empty");
		} else if (parseInt('#state#') <= 25) {
          	$(".iconCmd#uid# img.logo").attr("class", "logo quarter");
		} else if (parseInt('#state#') <= 45) {
          	$(".iconCmd#uid# img.logo").attr("class", "logo half");
		} else if (parseInt('#state#') <= 75) {
          	$(".iconCmd#uid# img.logo").attr("class", "logo threeQuarters");
		} else if (parseInt('#state#') > 75) {
          	$(".iconCmd#uid# img.logo").attr("class", "logo full");
		}
	</script>
</div>